@font-face {
    font-family: 'pingFangSC-Medium';
    src: url('@/assets/font/PingFangMedium.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: 'pingFangSC-Light';
    src: url('@/assets/font/PingFangLight.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: 'pingFangSC-Regular';
    src: url('@/assets/font/pingFangRegular.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{   
    font-family: 'pingFangSC-Bold';
    src: url('@/assets/font/PingFangBold.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: 'pingFangSC-ExtraLight';
    src: url('@/assets/font/PingFangExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
  }
  @font-face{
    font-family: 'pingFangSC-Heavy';
    src: url('@/assets/font/PingFang Heavy.ttf');
    font-weight: normal;
    font-style: normal;
  }

